* {
    border: solid 1px black;
    border-radius: 5px;
    background-color:dimgrey;
    font-family: 'Lucida Grande', Arial, sans-serif;
}
body {
    background-color:slategrey;
}
ul {
    text-align: center;
    color:yellow;
    text-decoration: dashed;
}
