* {
    font-family: Bahnschrift, serif;
}

body {
    background-color:slategrey;
}
ul {
    color:yellow;
    text-decoration: dashed;
}
nav {
    background-color:darkslategrey;
    border:2px solid black;
}
a:hover {
    background: darkolivegreen;
    color:lightgreen;
}
input {
    background-color:darkgrey;
}
.pricetag {
    font-size:24px;
}
img {
    width:200px;
    height:auto;
}
button {
    background-color: azure;
}
a {
    color:lime;
    text-decoration: underline;
}
footer {
    background-color:lightslategrey;
    border:2px solid black;
    text-align: center;
    margin:50px;
}
.product {
    background: darkolivegreen;
    font-family: "Arial Narrow", serif;
    color:yellow;
    font-size:24px;
}
.alert {
    color: #fff749;
}