{% extends "base.html" %}

{% block content %}
<main>
    <h1>Abeceda</h1>
    <p>Abeceda, řídce i „alfabeta“, je uspořádaná sada znaků – písmen, jimiž se při zápisu řeči, v písmu graficky vyjadřují fonémy, zpravidla hlásky (některé jen souhlásky) a případně slabiky. Hláskové abecedy mají přibližně několik málo desítek znaků (písmen), slabičné více, až i několik set. Pro srovnání: čínských znaků (zvukově znamenají slabiky, ale liší se podle významu) je až asi 100 000.

Název je odvozen z prvních čtyř znaků abecedy (latinky). Název „alfabeta“ používaný často v cizích jazycích je podobně odvozen z názvů prvních dvou písmen abecedy řecké. Jinou abecedou je cyrilice, pojmenovaná podle sv. Cyrila, také nazývaná azbuka podle názvů prvních dvou písmen v ruštině – a (az), b (buki).

Obdobně podle prvních písmen jsou vytvořeny názvy jiných typů abecedy: abugida a abdžad.</p>
    Abeceda „mezinárodní“ s následujícími 26 znaky, tj. základní znaky bez háčků, čárek, či jiných diakritických znamének a bez spřežek, je shodná s anglickou abecedou:

    <b> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z </b>
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>
        <li>CH</li>
        <li>I</li>
        <li>J</li>
        <li>K</li>
        <li>L</li>
        <li>M</li>
        <li>N</li>
        <li>O</li>
        <li>P</li>
        <li>Q</li>
        <li>S</li>
        <li>T</li>
        <li>U</li>
        <li>V</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
    </ul>
</main>
{% endblock %}