{% extends "base.html" %}

{% block content %}
<h1>Alfabeta</h1>
<p>Řecké písmo je nejstarší dosud používané písmo v Evropě. Řecká abeceda se též nazývá podle prvních dvou písmen alfabeta. Používá se téměř výhradně pro zápis řečtiny (s výjimkou koptštiny), i do jiných jazyků však pronikají řecká písmena např. jako matematické symboly. Písmo bylo vyvinuto v geometrickém období (kolem 9. století př. n. l.), pravděpodobně na základě fénického písma, a s několika změnami se používá dodnes.</p>
<p>Z alfabety do značné míry vychází i slovanské písmo cyrilice a nezpochybnitelnou příbuznost vykazuje i latinka. V kódování Unicode jsou znaky řeckého písma umístěny v rozsahu 0370–03FF (hexadecimálně).</p>
<ul>
    <li>Α α</li>
    <li>Β β</li>
    <li>Γ γ</li>
    <li>Δ δ</li>
    <li>Ε ε</li>
    <li>Ζ ζ</li>
    <li>Η η</li>
    <li>Θ θ</li>
    <li>Ι ι</li>
    <li>Κ κ</li>
    <li>Λ λ</li>
    <li>Μ μ</li>
    <li>Ν ν</li>
    <li>Ξ ξ</li>











</ul>
{% endblock %}