<!doctype html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>{% block title %}{% endblock %} - Foodia E-Shop</title>
</head>
<body>
    <h1>Foodia E-Shop</h1>
    <b>Navigační menu:</b>
    <header>
        <nav>
            <ul>
            {% if current_user %}
                <li>Přihlášen jako: {{ current_user }}</li>
                <li><a href="{{ url_for('login.logout') }}">Odhlásit se</a></li>
            {% else %}
                <li><a href="{{ url_for('login.login') }}">Přihlášení</a></li>
                <li><a href="{{ url_for('login.register') }}">Registrace</a></li>
            {% endif %}
            <li><a href="{{ url_for('login.homepage') }}">Úvodní stránka</a></li>
            <li><a href="{{ url_for('login.shop') }}">Obchod</a></li>
            <li><a href="{{ url_for('login.user_list') }}">List Uživatelů</a></li>
            </ul>
        </nav>
    </header>
{% block content %}
{% endblock %}
<footer>
    <b>WebShoppé - Company [Místo: Praha 6, Malostránská 954] / COPYRIGHT 2025 </b>
</footer>
</body>
</html>