<!doctype html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>{% block title %}{% endblock %}Base Webpage - Flask Project</title>
</head>
<body>
    <h1>VÍTEJTE !</h1>
    <p>Base Menu:</p>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('kontakty',filename='contact.html')}}">Kontakty</a></li>
                <br>
                <li><a href="{{url_for('homepage',filename='index.html')}}">Hlavní stránka</a></li>
                <br>
                <li><a href="{{url_for('gallery',filename='gallery.html')}}">Galerie</a></li>
                <h2>Abeceda</h2>
                <li><a href="{{url_for('abeceda',filename='abeceda.html')}}">Abeceda</a></li>
                <li><a href="{{url_for('alfabeta',filename='alfabeta.html')}}">Alfabeta</a></li>
            </ul>
        </nav>
    </header>
{% block content %}
{% endblock %}
</body>
</html>