{% extends "base.html" %}

{% block content %}

<h2>
    {% block title %}
    Formular
    {% endblock %}
</h2>

    <form method="POST">
        <label>Uzivatelske jmeno
            <input type="text" name="username" placeholder="Vyplnte jmeno blogu" required>
        </label>
        <label>
            heslo
            <input type="password" name="password">
        </label>
        <label>
            Odeslat
            <button type="submit" value="submit">Odeslat formular</button>
        </label>
    </form>


{% endblock %}